Repository hotherio/streamblocks: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, check-json, check-yaml, check-toml

lefthook.yml:

# Lefthook configuration for Python project
# Fast and powerful Git hooks manager

pre-commit:
  parallel: true
  commands:
    # Python linting and formatting with Ruff
    ruff-check:
      run: ruff check --fix --unsafe-fixes {staged_files}
      glob: "*.py"

    ruff-format:
      run: ruff format {staged_files}
      glob: "*.py"

    # Type checking
    mypy:
      run: mypy {staged_files}
      glob: "*.py"

    # Non-Python file checks
    trailing-whitespace:
      run: |
        for file in {staged_files}; do
          if [[ "$file" != *.py ]]; then
            sed -i.bak 's/[[:space:]]*$//' "$file" && rm -f "$file.bak"
          fi
        done
      glob: "*"
      exclude: "*.py|*.egg-info/*"

    end-of-file:
      run: |
        for file in {staged_files}; do
          if [[ "$file" != *.py ]] && [[ -f "$file" ]] && [[ -s "$file" ]]; then
            if [ -n "$(tail -c 1 "$file")" ]; then
              echo >> "$file"
            fi
          fi
        done
      glob: "*"
      exclude: "*.py|*.egg-info/*"

    # File format validation
    check-json:
      run: python -m json.tool {staged_files} > /dev/null
      glob: "*.json"

    check-yaml:
      run: |
        for file in {staged_files}; do
          python -c "import yaml; yaml.safe_load(open('$file'))"
        done
      glob: "*.{yml,yaml}"

    check-toml:
      run: |
        for file in {staged_files}; do
          python -c "import tomllib; tomllib.load(open('$file', 'rb'))"
        done
      glob: "*.toml"

    # Secret scanning with detect-secrets
    detect-secrets:
      run: |
        if [ ! -f .secrets.baseline ]; then
          echo "Creating initial secrets baseline..."
          detect-secrets scan > .secrets.baseline
        fi
        # Check staged files for secrets
        git diff --staged --name-only -z | xargs -0 detect-secrets-hook --baseline .secrets.baseline
      glob: "*"
      exclude: "*.lock|*.egg-info/*|.secrets.baseline"

pre-push:
  parallel: true
  commands:
    # Verify dependency lock
    uv-lock:
      run: uv lock --check

    # Check last commit message follows conventional commits
    conventional-commits:
      run: |
        commit_regex='^(feat|fix|docs|style|refactor|test|chore|build|ci|perf|revert)(\(.+\))?: .+'
        if ! git log -1 --pretty=%B | grep -qE "$commit_regex"; then
          echo "❌ Last commit doesn't follow conventional commits format"
          echo "Expected format: <type>(<scope>): <subject>"
          echo "Example: feat(auth): add login functionality"
          exit 1
        fi


commit-msg:
  commands:
    # Validate commit message format
    check-commit-msg:
      run: |
        commit_regex='^(feat|fix|docs|style|refactor|test|chore|build|ci|perf|revert)(\(.+\))?: .+'
        if ! grep -qE "$commit_regex" {1}; then
          echo "❌ Commit message must follow conventional commits format!"
          echo ""
          echo "Format: <type>: <subject>  OR  <type>(<scope>): <subject>"
          echo ""
          echo "Types:"
          echo "  feat:     New feature"
          echo "  fix:      Bug fix"
          echo "  docs:     Documentation changes"
          echo "  style:    Code style changes (formatting, etc)"
          echo "  refactor: Code refactoring"
          echo "  test:     Test changes"
          echo "  chore:    Maintenance tasks"
          echo "  build:    Build system changes"
          echo "  ci:       CI/CD changes"
          echo "  perf:     Performance improvements"
          echo "  revert:   Revert previous commit"
          echo ""
          echo "Examples:"
          echo "  feat: add user authentication"
          echo "  fix(auth): resolve login timeout issue"
          exit 1
        fi

# Skip hooks during rebase/merge
skip_output:
  - meta
  - execution

TO REBASE
  .examples.yaml
  examples/README.md
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml

TO REBASE
  docs/FSM_DESIGN.md
  examples/agent/01_basic_agent.py
  examples/agent/02_sequential_agent.py
  examples/agent/03_batched_speculative.py
  examples/agent/04_speculative_continuation_demo.py
  examples/agent/README.md
  examples/agent/__init__.py
  examples/agent/agent.py
  examples/agent/batched_stream.py
  examples/agent/blocks.py
  examples/agent/context.py
  examples/agent/events.py
  examples/agent/executor.py
  examples/agent/prompts.py
  examples/agent/sequential_stream.py
  examples/agent/speculative_stream.py
  examples/agent/tools.py
  examples/live_feedback/01_simple_keyboard_pause.py
  examples/live_feedback/02_two_phase_interactive.py
  examples/live_feedback/03_smooth_typewriter_rendering.py
  examples/live_feedback/04_feedback_patterns_with_cancellation.py
  examples/live_feedback/05_textual_chat_interface.py
  examples/live_feedback/06_multi_threaded_conversation.py
  examples/live_feedback/07_minimal_chat.py
  examples/live_feedback/08_language_switching.py
  examples/live_feedback/09_language_switching_local_llm.py
  examples/live_feedback/README.md
  examples/live_feedback/__init__.py
  examples/live_feedback_example.py
  src/hother/streamblocks/core/models.py
Due: ruff-check, ruff-format, mypy

feat(adapters): add built-in input adapters
  src/hother/streamblocks/adapters/input/__init__.py
  src/hother/streamblocks/adapters/input/identity.py
Due: ruff-check, ruff-format, mypy

feat(adapters): add EventCategory enum and protocol definitions
  src/hother/streamblocks/adapters/categories.py
  src/hother/streamblocks/adapters/protocols.py
Due: ruff-check, ruff-format, mypy

feat(adapters): add StreamBlocksOutputAdapter
  src/hother/streamblocks/adapters/output/__init__.py
  src/hother/streamblocks/adapters/output/streamblocks.py
Due: ruff-check, ruff-format, mypy

feat(core): add ProtocolStreamProcessor for bidirectional support
  src/hother/streamblocks/core/protocol_processor.py
Due: ruff-check, ruff-format, mypy

refactor(adapters): implement InputAdapterRegistry for auto-detection
  src/hother/streamblocks/adapters/detection.py
Due: ruff-check, ruff-format, mypy

feat(extensions): add provider input adapters
  pyproject.toml
  src/hother/streamblocks/extensions/__init__.py
  src/hother/streamblocks/extensions/agui/__init__.py
  src/hother/streamblocks/extensions/agui/filters.py
  src/hother/streamblocks/extensions/agui/input_adapter.py
  src/hother/streamblocks/extensions/agui/output_adapter.py
  src/hother/streamblocks/extensions/anthropic/__init__.py
  src/hother/streamblocks/extensions/gemini/__init__.py
  src/hother/streamblocks/extensions/openai/__init__.py
Due: ruff-check, ruff-format, mypy, check-toml

refactor(adapters): remove legacy adapter files
  src/hother/streamblocks/adapters/base.py
  src/hother/streamblocks/adapters/providers.py
Due: ruff-check, ruff-format, mypy

refactor(core): update processor to use new adapter system
  src/hother/streamblocks/core/processor.py
Due: ruff-check, ruff-format, mypy

test(adapters): update tests for new adapter system
  tests/adapters/test_adapter_detection.py
  tests/adapters/test_adapters.py
Due: ruff-check, ruff-format, mypy

refactor(adapters): update exports for new adapter system
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/adapters/__init__.py
Due: ruff-check, ruff-format, mypy

refactor(examples): restructure examples directory
  examples/00_basics/01_basic_usage.py
  examples/00_basics/02_minimal_api.py
  examples/00_basics/03_error_handling.py
  examples/00_basics/04_structured_output.py
  examples/01_syntaxes/01_markdown_frontmatter.py
  examples/01_syntaxes/02_delimiter_frontmatter.py
  examples/01_syntaxes/03_parsing_decorators.py
  examples/02_adapters/01_identity_adapter_plain_text.py
  examples/02_adapters/02_gemini_auto_detect.py
  examples/02_adapters/03_openai_explicit_adapter.py
  examples/02_adapters/04_anthropic_adapter.py
  examples/02_adapters/05_mixed_event_stream.py
  examples/02_adapters/06_text_delta_streaming.py
  examples/02_adapters/07_block_opened_event.py
  examples/02_adapters/08_configuration_flags.py
  examples/02_adapters/09_custom_adapter.py
  examples/02_adapters/10_callable_adapter.py
  examples/02_adapters/11_attribute_adapter_generic.py
  examples/02_adapters/12_disable_original_events.py
  examples/02_adapters/13_manual_chunk_processing.py
  examples/02_adapters/14_section_delta_events.py
  examples/02_adapters/15_section_end_events.py
  examples/03_content/01_patch_content.py
  examples/04_logging/01_stdlib_logging.py
  examples/04_logging/02_structlog.py
  examples/04_logging/03_custom_logger.py
  examples/05_integrations/01_pydantic_ai_integration.py
  examples/06_providers/01_gemini_simple_demo.py
  examples/06_providers/02_gemini_architect.py
  examples/07_ui/01_interactive_blocks.py
  examples/07_ui/02_interactive_ui_demo.py
  examples/README.md
  examples/adapters/10_callable_adapter.py
  examples/adapters/README.md
  lefthook.yml
  pyproject.toml
Due: ruff-check, ruff-format, mypy, check-yaml, check-toml

chore: temporarily disable pre-push hooks
  lefthook.yml
Due: check-yaml

chore: update configuration and remove obsolete workflow files
  .examples.yaml
  uv.lock
  workflow/FUTURE_IMPROVEMENTS.md
  workflow/PRD.md
  workflow/TASKS.md
  workflow/USER_REQUEST.md
Due: check-yaml

fix: update types and processor for rebase compatibility
  examples/02_adapters/10_callable_adapter.py
  examples/06_providers/01_gemini_simple_demo.py
  examples/06_providers/02_gemini_architect.py
  src/hother/streamblocks/adapters/output/streamblocks.py
  src/hother/streamblocks/adapters/protocols.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/extensions/agui/__init__.py
  src/hother/streamblocks/extensions/agui/output_adapter.py
  src/hother/streamblocks/extensions/anthropic/__init__.py
  src/hother/streamblocks/extensions/gemini/__init__.py
  src/hother/streamblocks/extensions/openai/__init__.py
  src/hother/streamblocks/integrations/pydantic_ai/agent.py
  src/hother/streamblocks/integrations/pydantic_ai/processor.py
Due: ruff-check, ruff-format, mypy

chore: update configuration and documentation files
  .examples.yaml
  .github/actions/setup-python-uv/action.yml
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  cliff.toml
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/protocol_processor.py
  uv.lock
  workflow/CONSOLIDATION_PLAN.md
Due: ruff-check, ruff-format, mypy, check-yaml, check-toml

docs: add security policy with vulnerability reporting guidelines
  .github/SECURITY.md
Due: none

ci: add issue templates for bugs, features, and documentation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: check-yaml

docs: enhance PR template with checklists and guidelines
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

ci: add CODEOWNERS for automatic review assignment
  .github/CODEOWNERS
Due: none

docs: fix CODE_OF_CONDUCT contact placeholder
  .github/CODE_OF_CONDUCT.md
Due: none

docs: add project governance and community documentation
  GOVERNANCE.md
  MAINTAINERS.md
  ROADMAP.md
  SUPPORT.md
Due: none

ci: make PR lint and test checks blocking
  .github/workflows/pull_request.yaml
Due: check-yaml

ci: add dependency review workflow
  .github/workflows/dependency-review.yml
Due: check-yaml

chore: add devcontainer configuration for consistent development
  .devcontainer/devcontainer.json
Due: check-json

docs: add badges for docs, code style, and tooling
  README.md
Due: none

chore: remove URL comment from CODEOWNERS
  .github/CODEOWNERS
Due: none

docs: use Streamblocks naming and streamblocks package name
  .github/SECURITY.md
  GOVERNANCE.md
  MAINTAINERS.md
  ROADMAP.md
  SUPPORT.md
Due: none

docs: rename StreamBlocks to Streamblocks across all documentation
  API_CHANGES.md
  CLAUDE.md
  README.md
  README_GEMINI_EXAMPLES.md
  STREAMBLOCK_PROTOTYPE.md
  SUPPORT.md
  docs/ARCHITECTURE.md
  docs/ARCHITECTURE_IMPROVEMENT_PLAN.md
  docs/BLOCK_DEFINITION.md
  docs/advanced.md
  docs/ag-ui-integration.md
  docs/basics.md
  docs/community.md
  docs/contributing.md
  docs/examples/basic.md
  docs/examples/index.md
  docs/getting_started.md
  docs/installation.md
  docs/integrations/index.md
  docs/integrations/pydantic_ai.md
  docs/patterns.md
  docs/performance.md
  docs/reference/adapters.md
  docs/reference/blocks.md
  docs/reference/core.md
  docs/reference/index.md
  docs/troubleshooting.md
  examples/README.md
  src/hother/streamblocks/integrations/pydantic_ai/README.md
  workflow/CONSOLIDATION_PLAN.md
Due: none

chore: remove ROADMAP.md from repository
  ROADMAP.md
Due: none

fix(ci): resolve PR validation and enable documentation hooks
  .github/workflows/pull_request.yaml
  mkdocs.yml
Due: check-yaml

chore: move README_GEMINI_EXAMPLES and STREAMBLOCK_PROTOTYPE to sandbox
  README_GEMINI_EXAMPLES.md
  STREAMBLOCK_PROTOTYPE.md
Due: none

chore: move workflow folder contents to sandbox
  workflow/CONSOLIDATION_PLAN.md
Due: none
