Repository hotherio/streamblocks: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, check-json, check-yaml, check-toml

lefthook.yml:

# Lefthook configuration for Python project
# Fast and powerful Git hooks manager

pre-commit:
  parallel: true
  commands:
    # Python linting and formatting with Ruff
    ruff-check:
      run: ruff check --fix --unsafe-fixes {staged_files}
      glob: "*.py"

    ruff-format:
      run: ruff format {staged_files}
      glob: "*.py"

    # Type checking
    mypy:
      run: mypy {staged_files}
      glob: "*.py"

    # Non-Python file checks
    trailing-whitespace:
      run: |
        for file in {staged_files}; do
          if [[ "$file" != *.py ]]; then
            sed -i.bak 's/[[:space:]]*$//' "$file" && rm -f "$file.bak"
          fi
        done
      glob: "*"
      exclude: "*.py|*.egg-info/*"

    end-of-file:
      run: |
        for file in {staged_files}; do
          if [[ "$file" != *.py ]] && [[ -f "$file" ]] && [[ -s "$file" ]]; then
            if [ -n "$(tail -c 1 "$file")" ]; then
              echo >> "$file"
            fi
          fi
        done
      glob: "*"
      exclude: "*.py|*.egg-info/*"

    # File format validation
    check-json:
      run: python -m json.tool {staged_files} > /dev/null
      glob: "*.json"

    check-yaml:
      run: |
        for file in {staged_files}; do
          python -c "import yaml; yaml.safe_load(open('$file'))"
        done
      glob: "*.{yml,yaml}"

    check-toml:
      run: |
        for file in {staged_files}; do
          python -c "import tomllib; tomllib.load(open('$file', 'rb'))"
        done
      glob: "*.toml"

    # Secret scanning with detect-secrets
    detect-secrets:
      run: |
        if [ ! -f .secrets.baseline ]; then
          echo "Creating initial secrets baseline..."
          detect-secrets scan > .secrets.baseline
        fi
        # Check staged files for secrets
        git diff --staged --name-only -z | xargs -0 detect-secrets-hook --baseline .secrets.baseline
      glob: "*"
      exclude: "*.lock|*.egg-info/*|.secrets.baseline"

pre-push:
  parallel: true
  commands:
    # Verify dependency lock
    uv-lock:
      run: uv lock --check

    # Check last commit message follows conventional commits
    conventional-commits:
      run: |
        commit_regex='^(feat|fix|docs|style|refactor|test|chore|build|ci|perf|revert)(\(.+\))?: .+'
        if ! git log -1 --pretty=%B | grep -qE "$commit_regex"; then
          echo "❌ Last commit doesn't follow conventional commits format"
          echo "Expected format: <type>(<scope>): <subject>"
          echo "Example: feat(auth): add login functionality"
          exit 1
        fi


commit-msg:
  commands:
    # Validate commit message format
    check-commit-msg:
      run: |
        commit_regex='^(feat|fix|docs|style|refactor|test|chore|build|ci|perf|revert)(\(.+\))?: .+'
        if ! grep -qE "$commit_regex" {1}; then
          echo "❌ Commit message must follow conventional commits format!"
          echo ""
          echo "Format: <type>: <subject>  OR  <type>(<scope>): <subject>"
          echo ""
          echo "Types:"
          echo "  feat:     New feature"
          echo "  fix:      Bug fix"
          echo "  docs:     Documentation changes"
          echo "  style:    Code style changes (formatting, etc)"
          echo "  refactor: Code refactoring"
          echo "  test:     Test changes"
          echo "  chore:    Maintenance tasks"
          echo "  build:    Build system changes"
          echo "  ci:       CI/CD changes"
          echo "  perf:     Performance improvements"
          echo "  revert:   Revert previous commit"
          echo ""
          echo "Examples:"
          echo "  feat: add user authentication"
          echo "  fix(auth): resolve login timeout issue"
          exit 1
        fi

# Skip hooks during rebase/merge
skip_output:
  - meta
  - execution

feat(content): add interactive blocks for UI components and forms
  examples/interactive_blocks_example.py
  examples/interactive_ui_demo.py
  src/streamblocks/content/interactive.py
  tests/test_interactive_blocks.py
Due: ruff-check, ruff-format, mypy

feat(content): add visualization, memory, and toolcall content types
  src/streamblocks/content/memory.py
  src/streamblocks/content/toolcall.py
  src/streamblocks/content/visualization.py
Due: ruff-check, ruff-format, mypy

feat(integrations): add PydanticAI integration for AI agent support
  examples/pydantic_ai_integration.py
  src/streamblocks/integrations/__init__.py
  src/streamblocks/integrations/pydantic_ai/README.md
  src/streamblocks/integrations/pydantic_ai/__init__.py
  src/streamblocks/integrations/pydantic_ai/agent.py
  src/streamblocks/integrations/pydantic_ai/processor.py
Due: ruff-check, ruff-format, mypy

feat(examples): add comprehensive examples for new features
  examples/basic_usage.py
  examples/delimiter_frontmatter_example.py
  examples/gemini_architect_example.py
  examples/gemini_simple_demo.py
  examples/markdown_frontmatter_example.py
  examples/minimal_api_example.py
  examples/mixed_syntaxes_example.py
  examples/patch_content_example.py
  examples/single_syntax_example.py
  examples/tools/__init__.py
  examples/tools/basic_tools.py
  examples/tools/executor.py
Due: ruff-check, ruff-format, mypy

refactor(api): simplify API and add comprehensive documentation
  API_CHANGES.md
  README.md
  README_GEMINI_EXAMPLES.md
  pyproject.toml
  src/streamblocks/__init__.py
  src/streamblocks/content/structure_output.py
  src/streamblocks/core/processor.py
  src/streamblocks/core/registry.py
  src/streamblocks/syntaxes/markdown.py
  tests/test_basic_integration.py
  tests/test_minimal_api.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

chore(lock): update lock file
  uv.lock
Due: none

feat: aliases on the default blocks
  examples/basic_usage.py
  examples/delimiter_frontmatter_example.py
  examples/gemini_architect_example.py
  examples/gemini_simple_demo.py
  examples/interactive_blocks_example.py
  examples/interactive_ui_demo.py
  examples/markdown_frontmatter_example.py
  examples/minimal_api_example.py
  examples/patch_content_example.py
  examples/pydantic_ai_integration.py
  examples/single_syntax_example.py
  src/hother/streamblocks/blocks/__init__.py
  src/hother/streamblocks/blocks/memory.py
  src/hother/streamblocks/blocks/toolcall.py
  src/hother/streamblocks/blocks/visualization.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/registry.py
  src/hother/streamblocks/syntaxes/base.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
Due: ruff-check, ruff-format, mypy

fix(types): update StreamEvent forward reference from Block to BlockDefinition
  src/hother/streamblocks/core/types.py
Due: ruff-check, ruff-format, mypy

refactor(api): separate metadata and data fields in Block
  examples/basic_usage.py
  examples/gemini_architect_example.py
  examples/interactive_blocks_example.py
  examples/interactive_ui_demo.py
  examples/markdown_frontmatter_example.py
  examples/pydantic_ai_integration.py
  examples/single_syntax_example.py
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/types.py
  tests/test_basic_integration.py
  tests/test_interactive_blocks.py
  tests/test_minimal_api.py
Due: ruff-check, ruff-format, mypy

feat(blocks): add structured output blocks with dynamic Pydantic schemas
  examples/structured_output_example.py
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/blocks/structured_output.py
  src/hother/streamblocks/core/parsing.py
  src/hother/streamblocks/syntaxes/delimiter.py
  tests/test_parsing_decorators.py
Due: ruff-check, ruff-format, mypy

refactor(models)!: eliminate BlockDefinition field duplication
  examples/interactive_ui_demo.py
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/blocks/files.py
  src/hother/streamblocks/blocks/interactive.py
  src/hother/streamblocks/blocks/message.py
  src/hother/streamblocks/blocks/patch.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/processor.py
Due: ruff-check, ruff-format, mypy

refactor(api): simplify syntax initialization to use single block_class parameter
  examples/basic_usage.py
  examples/delimiter_frontmatter_example.py
  examples/gemini_architect_example.py
  examples/gemini_simple_demo.py
  examples/markdown_frontmatter_example.py
  examples/patch_content_example.py
  examples/pydantic_ai_integration.py
  examples/single_syntax_example.py
  src/hother/streamblocks/blocks/__init__.py
  src/hother/streamblocks/blocks/files.py
  src/hother/streamblocks/blocks/interactive.py
  src/hother/streamblocks/blocks/message.py
  src/hother/streamblocks/blocks/patch.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
  tests/test_basic_integration.py
  tests/test_interactive_blocks.py
  tests/test_minimal_api.py
Due: ruff-check, ruff-format, mypy

refactor(registry): remove BlockRegistry backward compatibility alias
  examples/markdown_frontmatter_example.py
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/core/registry.py
  tests/test_basic_integration.py
  tests/test_interactive_blocks.py
Due: ruff-check, ruff-format, mypy

refactor(registry)!: separate syntax format from block type mapping
  examples/basic_usage.py
  examples/delimiter_frontmatter_example.py
  examples/gemini_architect_example.py
  examples/gemini_simple_demo.py
  examples/markdown_frontmatter_example.py
  examples/patch_content_example.py
  examples/pydantic_ai_integration.py
  examples/single_syntax_example.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/protocols.py
  src/hother/streamblocks/core/registry.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
  tests/test_basic_integration.py
  tests/test_interactive_blocks.py
  tests/test_minimal_api.py
Due: ruff-check, ruff-format, mypy

refactor(api): aggregate metadata and content into BlockDefinition
  examples/basic_usage.py
  examples/gemini_architect_example.py
  examples/interactive_blocks_example.py
  examples/interactive_ui_demo.py
  examples/markdown_frontmatter_example.py
  examples/pydantic_ai_integration.py
  examples/single_syntax_example.py
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/blocks/__init__.py
  src/hother/streamblocks/blocks/base.py
  src/hother/streamblocks/blocks/files.py
  src/hother/streamblocks/blocks/interactive.py
  src/hother/streamblocks/blocks/memory.py
  src/hother/streamblocks/blocks/message.py
  src/hother/streamblocks/blocks/patch.py
  src/hother/streamblocks/blocks/structure_output.py
  src/hother/streamblocks/blocks/toolcall.py
  src/hother/streamblocks/blocks/visualization.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/types.py
  tests/test_basic_integration.py
  tests/test_interactive_blocks.py
  tests/test_minimal_api.py
Due: ruff-check, ruff-format, mypy

refactor(syntax): replace Any with Pydantic BaseModel in syntax classes
  pyproject.toml
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
Due: ruff-check, ruff-format, mypy, check-toml

fix(types): resolve basedpyright errors in blocks and parsing decorators
  examples/patch_content_example.py
  examples/pydantic_ai_integration.py
  src/hother/streamblocks/blocks/__init__.py
  src/hother/streamblocks/blocks/base.py
  src/hother/streamblocks/blocks/files.py
  src/hother/streamblocks/blocks/interactive.py
  src/hother/streamblocks/blocks/memory.py
  src/hother/streamblocks/blocks/message.py
  src/hother/streamblocks/blocks/structure_output.py
  src/hother/streamblocks/blocks/structured_output.py
  src/hother/streamblocks/blocks/toolcall.py
  src/hother/streamblocks/blocks/visualization.py
  src/hother/streamblocks/core/parsing.py
  src/hother/streamblocks/core/registry.py
  src/hother/streamblocks/core/types.py
  src/hother/streamblocks/integrations/pydantic_ai/processor.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
Due: ruff-check, ruff-format, mypy

feat(logger): add support for loggers
  examples/logging_integration.py
  pyproject.toml
  src/hother/streamblocks/core/_logger.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/registry.py
  src/hother/streamblocks/integrations/pydantic_ai/processor.py
  src/hother/streamblocks/syntaxes/markdown.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

refactor: improve examples structure
  examples/basic_usage.py
  examples/error_handling_example.py
  examples/gemini_architect_example.py
  examples/gemini_simple_demo.py
  examples/integrations/pydantic_ai_integration.py
  examples/logging/custom_logger_example.py
  examples/logging/stdlib_logging_example.py
  examples/logging/structlog_example.py
  examples/logging_integration.py
  examples/minimal_api_example.py
  examples/parsing_decorators_example.py
  examples/patch_content_example.py
  examples/structured_output_example.py
  examples/syntaxes/delimiter_frontmatter_example.py
  examples/syntaxes/markdown_frontmatter_example.py
  examples/tools/basic_tools.py
  examples/tools/executor.py
  examples/ui/interactive_blocks_example.py
  examples/ui/interactive_ui_demo.py
  lefthook.yml
  pyproject.toml
  src/hother/streamblocks/core/registry.py
  src/hother/streamblocks/integrations/pydantic_ai/agent.py
Due: ruff-check, ruff-format, mypy, check-yaml, check-toml

fix(ci): update lefthook hooks to use uv run and python3
  lefthook.yml
Due: check-yaml

fix(type): avoid the usage of cast when unecessary
  docs/assets/logo.png
  docs/index.md
  lefthook.yml
  src/hother/streamblocks/blocks/interactive.py
  src/hother/streamblocks/blocks/memory.py
  src/hother/streamblocks/syntaxes/delimiter.py
Due: ruff-check, ruff-format, mypy, check-yaml

feat(adapters): add stream adapter system with provider support
  .examples.yaml
  CLAUDE.md
  README.md
  examples/README.md
  examples/adapters/01_identity_adapter_plain_text.py
  examples/adapters/02_gemini_auto_detect.py
  examples/adapters/03_openai_explicit_adapter.py
  examples/adapters/04_anthropic_adapter.py
  examples/adapters/05_mixed_event_stream.py
  examples/adapters/06_text_delta_streaming.py
  examples/adapters/07_block_opened_event.py
  examples/adapters/08_configuration_flags.py
  examples/adapters/09_custom_adapter.py
  examples/adapters/10_callable_adapter.py
  examples/adapters/11_attribute_adapter_generic.py
  examples/adapters/12_disable_original_events.py
  examples/adapters/13_manual_chunk_processing.py
  examples/adapters/README.md
  examples/error_handling_example.py
  examples/gemini_architect_example.py
  examples/gemini_simple_demo.py
  examples/integrations/pydantic_ai_integration.py
  examples/parsing_decorators_example.py
  examples/run_examples.py
  pyproject.toml
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/adapters/__init__.py
  src/hother/streamblocks/adapters/base.py
  src/hother/streamblocks/adapters/detection.py
  src/hother/streamblocks/adapters/providers.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/types.py
  tests/adapters/__init__.py
  tests/adapters/test_adapter_detection.py
  tests/adapters/test_adapters.py
  tests/test_examples.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-yaml, check-toml

fix(ci): resolve all type errors and CI validation failures
  .github/workflows/pull_request.yaml
  lefthook.yml
  pyproject.toml
  src/hother/streamblocks/adapters/base.py
  src/hother/streamblocks/adapters/detection.py
  src/hother/streamblocks/adapters/providers.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/integrations/pydantic_ai/agent.py
  src/hother/streamblocks/integrations/pydantic_ai/processor.py
Due: ruff-check, ruff-format, mypy, check-yaml, check-toml

refactor(examples): rename syntax examples to numbered format
  examples/syntaxes/01_delimiter_frontmatter_syntax.py
  examples/syntaxes/02_markdown_frontmatter_syntax.py
Due: ruff-check, ruff-format, mypy

feat(examples): add new syntax examples
  examples/syntaxes/03_delimiter_preamble_syntax.py
  examples/syntaxes/04_global_default_configuration.py
  examples/syntaxes/05_syntax_comparison.py
Due: ruff-check, ruff-format, mypy

refactor(examples): move custom syntax example to 07
  examples/syntaxes/07_custom_syntax.py
Due: ruff-check, ruff-format, mypy

refactor(examples): simplify 01 to use default content parsing
  examples/syntaxes/01_delimiter_frontmatter_syntax.py
Due: ruff-check, ruff-format, mypy

refactor(examples): simplify 02 to use default content parsing
  examples/syntaxes/02_markdown_frontmatter_syntax.py
Due: ruff-check, ruff-format, mypy

feat(examples): add custom content parsing tutorial (06)
  examples/syntaxes/06_custom_content_parsing.py
Due: ruff-check, ruff-format, mypy

feat(prompts): add prompt generation system
  src/hother/streamblocks/prompts/__init__.py
  src/hother/streamblocks/prompts/builder.py
  src/hother/streamblocks/prompts/inspector.py
  src/hother/streamblocks/prompts/manager.py
  src/hother/streamblocks/prompts/templates/registry.jinja2
  src/hother/streamblocks/prompts/templates/single.jinja2
Due: ruff-check, ruff-format, mypy

feat(syntaxes): add serialize_block and describe_format methods
  src/hother/streamblocks/syntaxes/base.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
Due: ruff-check, ruff-format, mypy

feat(blocks): enhance FileOperations with examples and descriptions
  src/hother/streamblocks/blocks/files.py
Due: ruff-check, ruff-format, mypy

feat(config): add global default syntax configuration
  src/hother/streamblocks/syntaxes/config.py
  src/hother/streamblocks/syntaxes/utils.py
  tests/test_config.py
Due: ruff-check, ruff-format, mypy

feat(config): export global syntax configuration API
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/syntaxes/__init__.py
Due: ruff-check, ruff-format, mypy

feat: integrate prompt generation with Block and Registry
  examples/prompts/01_basic_registry_export.py
  examples/prompts/02_single_block_export.py
  examples/prompts/03_structured_output_prompts.py
  examples/prompts/04_custom_prompt_string.py
  examples/prompts/05_adding_examples_dynamically.py
  pyproject.toml
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/registry.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

fix(types): resolve basedpyright type errors in core modules
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/registry.py
  src/hother/streamblocks/prompts/builder.py
  src/hother/streamblocks/prompts/inspector.py
  src/hother/streamblocks/syntaxes/delimiter.py
Due: ruff-check, ruff-format, mypy

fix(types): resolve final 11 basedpyright errors in src/
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/prompts/builder.py
  src/hother/streamblocks/prompts/inspector.py
Due: ruff-check, ruff-format, mypy
