Repository hotherio/streamblocks: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, check-json, check-yaml, check-toml

ruff-check:
  run: ruff check --fix --unsafe-fixes {staged_files}

ruff-format:
  run: ruff format {staged_files}

mypy:
  run: mypy {staged_files}

check-json:
  run: python -m json.tool {staged_files} > /dev/null

check-yaml:
  run: "for file in {staged_files}; do\n  python -c \"import yaml; yaml.safe_load(open('$file'))\"\ndone\n"

check-toml:
  run: "for file in {staged_files}; do\n  python -c \"import tomllib; tomllib.load(open('$file', 'rb'))\"\ndone\n"

docs: rebuild examples section from streamblocks_examples
  docs/examples/adapters.md
  docs/examples/basics.md
  docs/examples/blocks.md
  docs/examples/index.md
  docs/examples/integrations.md
  docs/examples/providers.md
  docs/examples/quickstart.md
  docs/examples/syntaxes.md
Due: none

chore: remove corrupted zero-byte logo artifacts from docs assets
  docs/assets/.!1673!logo.png
  docs/assets/.!2329!logo.png
  docs/assets/.!43726!logo.png
  docs/assets/.!489!logo.png
  docs/assets/.!61486!logo.png
  docs/assets/.!98961!logo.png
Due: none

docs: add guides section
  docs/guides/agui.md
  docs/guides/define-custom-blocks.md
  docs/guides/error-handling.md
  docs/guides/index.md
  docs/guides/logging.md
  docs/guides/performance.md
  docs/guides/providers.md
  docs/guides/pydantic-ai.md
  docs/guides/validation.md
Due: none

docs: drop dev_addr 1234 colliding with LM Studio default port
  mkdocs.yml
Due: check-yaml

docs: rewrite landing page and getting-started section
  docs/getting-started/first-custom-block.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  mkdocs.yml
Due: check-yaml

ci: enforce strict docs build and guard snippet drift
  .github/workflows/docs.yaml
  .github/workflows/pull_request.yaml
  Makefile
  tests/test_docs_snippets.py
Due: ruff-check, ruff-format, mypy, check-yaml

docs: replace mermaid with d2 diagrams and add three new ones
  docs/concepts/adapters.md
  docs/concepts/events.md
  docs/concepts/index.md
  docs/concepts/syntaxes.md
  docs/guides/agui.md
Due: none

docs: restructure events page with per-event sections
  docs/concepts/events.md
Due: none

docs: simplify landing, quickstart, and syntaxes pages
  docs/concepts/syntaxes.md
  docs/getting-started/quickstart.md
  docs/guides/performance.md
  docs/index.md
Due: none

feat(prompts): generate LLM prompts from the block registry
  pyproject.toml
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/parsing.py
  src/hother/streamblocks/core/registry.py
  src/hother/streamblocks/core/types.py
  src/hother/streamblocks/prompts/__init__.py
  src/hother/streamblocks/prompts/builder.py
  src/hother/streamblocks/prompts/inspector.py
  src/hother/streamblocks/prompts/manager.py
  src/hother/streamblocks/prompts/templates/registry.jinja2
  src/hother/streamblocks/prompts/templates/single.jinja2
  src/hother/streamblocks/syntaxes/base.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
  tests/test_block_examples.py
  tests/test_prompts_builder.py
  tests/test_prompts_inspector.py
  tests/test_prompts_manager.py
  tests/test_syntax_serialize.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

refactor(prompts): require explicit "Usage:" docstring convention
  src/hother/streamblocks/prompts/inspector.py
  tests/test_prompts_builder.py
  tests/test_prompts_inspector.py
Due: ruff-check, ruff-format, mypy

docs(prompts): document registry→prompt generation
  docs/concepts/blocks-and-registry.md
  docs/examples/basics.md
  docs/guides/generate-prompts.md
  docs/guides/index.md
  docs/reference/index.md
  docs/reference/prompts.md
  mkdocs.yml
  src/hother/streamblocks_examples/01_basics/07_prompt_generation.py
Due: ruff-check, ruff-format, mypy, check-yaml

feat(prompts): generate LLM prompts from the block registry (#45)
  docs/concepts/blocks-and-registry.md
  docs/examples/basics.md
  docs/guides/generate-prompts.md
  docs/guides/index.md
  docs/reference/index.md
  docs/reference/prompts.md
  mkdocs.yml
  pyproject.toml
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/parsing.py
  src/hother/streamblocks/core/registry.py
  src/hother/streamblocks/core/types.py
  src/hother/streamblocks/prompts/__init__.py
  src/hother/streamblocks/prompts/builder.py
  src/hother/streamblocks/prompts/inspector.py
  src/hother/streamblocks/prompts/manager.py
  src/hother/streamblocks/prompts/templates/registry.jinja2
  src/hother/streamblocks/prompts/templates/single.jinja2
  src/hother/streamblocks/syntaxes/base.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
  src/hother/streamblocks_examples/01_basics/07_prompt_generation.py
  tests/test_block_examples.py
  tests/test_prompts_builder.py
  tests/test_prompts_inspector.py
  tests/test_prompts_manager.py
  tests/test_syntax_serialize.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-yaml, check-toml

refactor(core): DRY max_block_size and reduce processor complexity
  pyproject.toml
  src/hother/streamblocks/core/block_state_machine.py
  src/hother/streamblocks/core/processor.py
Due: ruff-check, ruff-format, mypy, check-toml

fix(packaging): add agui extra and correct project URLs
  pyproject.toml
  uv.lock
Due: check-toml

chore: code-quality review follow-up (DRY constant, processor refactor, packaging fixes) (#47)
  pyproject.toml
  src/hother/streamblocks/core/block_state_machine.py
  src/hother/streamblocks/core/processor.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

ci: pin semantic-release workflow actions to commit SHAs
  .github/workflows/semantic-release.yml
Due: check-yaml

ci: pin semantic-release workflow actions to commit SHAs (#51)
  .github/workflows/semantic-release.yml
Due: check-yaml

chore(release): bump to 0.4.0
  pyproject.toml
Due: check-toml

Deployed d694eef to v0.4 with MkDocs 1.6.1 and mike 2.1.3
  docs
  versions.json
Due: check-json

ci: bump release workflow actions to Node 24 versions
  .github/workflows/semantic-release.yml
Due: check-yaml

ci: bump release workflow actions to Node 24 versions (#52)
  .github/workflows/semantic-release.yml
Due: check-yaml

wip: live-feedback snapshot (uncommitted + untracked work)
  docs/Plan-grok.md
  examples/adapters/08_configuration_flags.py
  examples/agent/01_basic_agent.py
  examples/agent/03_batched_speculative.py
  examples/agent/04_speculative_continuation_demo.py
  examples/agent/04_thinking.py
  examples/agent/batched_stream.py
  examples/agent/blocks.py
  examples/agent/display.py
  examples/agent/prompts.py
  examples/agent/thinking_stream.py
  examples/agent/tools.py
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/core/processor.py
Due: ruff-check, ruff-format, mypy

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  mypy: any of: *.py
  check-json: any of: *.json
  check-yaml: any of: *.{yml,yaml}
  check-toml: any of: *.toml
