Repository hotherio/streamblocks: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, check-json, check-yaml, check-toml

lefthook.yml:

# Lefthook configuration for Python project
# Fast and powerful Git hooks manager

pre-commit:
  parallel: true
  commands:
    # Python linting and formatting with Ruff
    ruff-check:
      run: ruff check --fix --unsafe-fixes {staged_files}
      glob: "*.py"

    ruff-format:
      run: ruff format {staged_files}
      glob: "*.py"

    # Type checking
    mypy:
      run: mypy {staged_files}
      glob: "*.py"

    # Non-Python file checks
    trailing-whitespace:
      run: |
        for file in {staged_files}; do
          if [[ "$file" != *.py ]]; then
            sed -i.bak 's/[[:space:]]*$//' "$file" && rm -f "$file.bak"
          fi
        done
      glob: "*"
      exclude: "*.py|*.egg-info/*"

    end-of-file:
      run: |
        for file in {staged_files}; do
          if [[ "$file" != *.py ]] && [[ -f "$file" ]] && [[ -s "$file" ]]; then
            if [ -n "$(tail -c 1 "$file")" ]; then
              echo >> "$file"
            fi
          fi
        done
      glob: "*"
      exclude: "*.py|*.egg-info/*"

    # File format validation
    check-json:
      run: python -m json.tool {staged_files} > /dev/null
      glob: "*.json"

    check-yaml:
      run: |
        for file in {staged_files}; do
          python -c "import yaml; yaml.safe_load(open('$file'))"
        done
      glob: "*.{yml,yaml}"

    check-toml:
      run: |
        for file in {staged_files}; do
          python -c "import tomllib; tomllib.load(open('$file', 'rb'))"
        done
      glob: "*.toml"

    # Secret scanning with detect-secrets
    detect-secrets:
      run: |
        if [ ! -f .secrets.baseline ]; then
          echo "Creating initial secrets baseline..."
          detect-secrets scan > .secrets.baseline
        fi
        # Check staged files for secrets
        git diff --staged --name-only -z | xargs -0 detect-secrets-hook --baseline .secrets.baseline
      glob: "*"
      exclude: "*.lock|*.egg-info/*|.secrets.baseline"

pre-push:
  parallel: true
  commands:
    # Verify dependency lock
    uv-lock:
      run: uv lock --check

    # Check last commit message follows conventional commits
    conventional-commits:
      run: |
        commit_regex='^(feat|fix|docs|style|refactor|test|chore|build|ci|perf|revert)(\(.+\))?: .+'
        if ! git log -1 --pretty=%B | grep -qE "$commit_regex"; then
          echo "❌ Last commit doesn't follow conventional commits format"
          echo "Expected format: <type>(<scope>): <subject>"
          echo "Example: feat(auth): add login functionality"
          exit 1
        fi


commit-msg:
  commands:
    # Validate commit message format
    check-commit-msg:
      run: |
        commit_regex='^(feat|fix|docs|style|refactor|test|chore|build|ci|perf|revert)(\(.+\))?: .+'
        if ! grep -qE "$commit_regex" {1}; then
          echo "❌ Commit message must follow conventional commits format!"
          echo ""
          echo "Format: <type>: <subject>  OR  <type>(<scope>): <subject>"
          echo ""
          echo "Types:"
          echo "  feat:     New feature"
          echo "  fix:      Bug fix"
          echo "  docs:     Documentation changes"
          echo "  style:    Code style changes (formatting, etc)"
          echo "  refactor: Code refactoring"
          echo "  test:     Test changes"
          echo "  chore:    Maintenance tasks"
          echo "  build:    Build system changes"
          echo "  ci:       CI/CD changes"
          echo "  perf:     Performance improvements"
          echo "  revert:   Revert previous commit"
          echo ""
          echo "Examples:"
          echo "  feat: add user authentication"
          echo "  fix(auth): resolve login timeout issue"
          exit 1
        fi

# Skip hooks during rebase/merge
skip_output:
  - meta
  - execution

chore(release): bump to 0.3.3
  pyproject.toml
Due: check-toml

Deployed 216a7df to v0.3 with MkDocs 1.6.1 and mike 2.1.3
  v0.3/reference/blocks/index.html
  v0.3/search/search_index.json
  versions.json
Due: check-json

Deployed 216a7df to v0.3 with MkDocs 1.6.1 and mike 2.1.3
  versions.json
Due: check-json

fix(docs): correct repository URLs in README badges
  README.md
Due: none

chore(release): bump to 0.3.4
  pyproject.toml
Due: check-toml

Deployed 6717ae7 to v0.3 with MkDocs 1.6.1 and mike 2.1.3
  versions.json
Due: check-json

docs(readme): refactor for clarity and brevity
  README.md
Due: none

docs(readme): add problem statement and fix event types
  README.md
Due: none

docs(readme): improve intro concreteness and add AG-UI feature
  README.md
Due: none

fix(test): update regex for Python 3.14 TypeError message change
  tests/blocks/test_memory.py
Due: ruff-check, ruff-format, mypy

chore(release): bump to 0.3.5
  pyproject.toml
Due: check-toml

Deployed 12eb8f4 to v0.3 with MkDocs 1.6.1 and mike 2.1.3
  versions.json
Due: check-json

fix: create namespace package init with pkgutil.extend_path
  src/hother/__init__.py
Due: ruff-check, ruff-format, mypy

fix: create namespace package init with pkgutil.extend_path (#23)
  src/hother/__init__.py
Due: ruff-check, ruff-format, mypy

chore(release): bump to 0.3.6
  pyproject.toml
Due: check-toml

Deployed 2caad21 to v0.3 with MkDocs 1.6.1 and mike 2.1.3
  v0.3/sitemap.xml.gz
  versions.json
Due: check-json

Deployed 2caad21 to v0.3 with MkDocs 1.6.1 and mike 2.1.3
  versions.json
Due: check-json

feat(core): add Streamblocks exception hierarchy
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/core/exceptions.py
  tests/core/test_exceptions.py
Due: ruff-check, ruff-format, mypy

refactor(core): replace raw raises with typed exceptions
  src/hother/streamblocks/adapters/detection.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/protocol_processor.py
  src/hother/streamblocks/syntaxes/factory.py
  tests/adapters/test_adapter_detection.py
  tests/core/test_processor.py
  tests/syntaxes/test_models.py
Due: ruff-check, ruff-format, mypy

refactor(parsing): drop type:ignore on parse classmethod override
  src/hother/streamblocks/core/parsing.py
Due: ruff-check, ruff-format, mypy

refactor(state-machine): narrow parse result before extraction
  src/hother/streamblocks/core/block_state_machine.py
Due: ruff-check, ruff-format, mypy

refactor(adapters): move EventCategory import under TYPE_CHECKING
  src/hother/streamblocks/adapters/protocols.py
Due: ruff-check, ruff-format, mypy

refactor(processor): cast adapter to declared protocol to drop arg-type ignores
  src/hother/streamblocks/core/processor.py
Due: ruff-check, ruff-format, mypy

refactor(protocol-processor): type output adapter and event transform
  pyproject.toml
  src/hother/streamblocks/core/protocol_processor.py
Due: ruff-check, ruff-format, mypy, check-toml

build(pyright): un-ignore detection.py and fix type[Unknown]
  pyproject.toml
  src/hother/streamblocks/adapters/detection.py
Due: ruff-check, ruff-format, mypy, check-toml

build(pyright): un-ignore factory.py and keep defensive validation typed
  pyproject.toml
  src/hother/streamblocks/syntaxes/factory.py
Due: ruff-check, ruff-format, mypy, check-toml

test: run suite shuffled and in parallel with strict xfail
  pyproject.toml
  uv.lock
Due: check-toml

docs: add canonical AGENTS.md and ignore benchmark scratch files
  .gitignore
  AGENTS.md
  docs/contributing.md
Due: none

chore: trim cast comments, drop benchmark gitignore block, use [tool.basedpyright]
  .gitignore
  pyproject.toml
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/protocol_processor.py
  src/hother/streamblocks/syntaxes/factory.py
Due: ruff-check, ruff-format, mypy, check-toml

refactor(core): typed exception hierarchy, remove all type:ignore, IGL dev-infra (#26)
  AGENTS.md
  docs/contributing.md
  pyproject.toml
  src/hother/streamblocks/__init__.py
  src/hother/streamblocks/adapters/detection.py
  src/hother/streamblocks/adapters/protocols.py
  src/hother/streamblocks/core/block_state_machine.py
  src/hother/streamblocks/core/exceptions.py
  src/hother/streamblocks/core/parsing.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/protocol_processor.py
  src/hother/streamblocks/syntaxes/factory.py
  tests/adapters/test_adapter_detection.py
  tests/core/test_exceptions.py
  tests/core/test_processor.py
  tests/syntaxes/test_models.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

feat(agent): modular prompt system with block documentation (TRACK 1)
  src/hother/streamblocks_examples/agent/02_sequential_agent.py
  src/hother/streamblocks_examples/agent/batched_stream.py
  src/hother/streamblocks_examples/agent/blocks.py
  src/hother/streamblocks_examples/agent/executor.py
  src/hother/streamblocks_examples/agent/prompts.py
  src/hother/streamblocks_examples/agent/sequential_stream.py
  src/hother/streamblocks_examples/agent/speculative_stream.py
  src/hother/streamblocks_examples/agent/thinking_stream.py
Due: ruff-check, ruff-format, mypy

docs: regenerate API reference with mkdocstrings per module
  docs/reference/adapters.md
  docs/reference/events.md
  docs/reference/extensions.md
  docs/reference/index.md
  docs/reference/integrations.md
  docs/reference/parsing-and-validation.md
  docs/reference/processors.md
  docs/reference/registry-and-models.md
  docs/reference/syntaxes.md
Due: none

docs: replace em-dashes with standard punctuation
  README.md
  docs/concepts/adapters.md
  docs/concepts/blocks-and-registry.md
  docs/concepts/events.md
  docs/concepts/index.md
  docs/concepts/syntaxes.md
  docs/examples/adapters.md
  docs/examples/basics.md
  docs/examples/blocks.md
  docs/examples/index.md
  docs/examples/providers.md
  docs/examples/quickstart.md
  docs/examples/syntaxes.md
  docs/getting-started/first-custom-block.md
  docs/getting-started/index.md
  docs/getting-started/quickstart.md
  docs/guides/agui.md
  docs/guides/define-custom-blocks.md
  docs/guides/error-handling.md
  docs/guides/index.md
  docs/guides/logging.md
  docs/guides/performance.md
  docs/guides/providers.md
  docs/guides/pydantic-ai.md
  docs/guides/validation.md
  docs/index.md
  docs/reference/index.md
Due: none

docs(readme): use uv run for serving documentation locally
  README.md
Due: none

docs: add concepts section
  docs/concepts/adapters.md
  docs/concepts/blocks-and-registry.md
  docs/concepts/events.md
  docs/concepts/index.md
  docs/concepts/syntaxes.md
Due: none

docs(examples): add snippet region markers and fix broken examples
  src/hother/streamblocks_examples/00_quickstart/03_custom_block.py
  src/hother/streamblocks_examples/01_basics/01_basic_usage.py
  src/hother/streamblocks_examples/01_basics/02_minimal_api.py
  src/hother/streamblocks_examples/01_basics/03_error_handling.py
  src/hother/streamblocks_examples/01_basics/04_structured_output.py
  src/hother/streamblocks_examples/02_syntaxes/01_markdown_frontmatter.py
  src/hother/streamblocks_examples/02_syntaxes/02_delimiter_frontmatter.py
  src/hother/streamblocks_examples/02_syntaxes/03_parsing_decorators.py
  src/hother/streamblocks_examples/03_adapters/01_identity_adapter_plain_text.py
  src/hother/streamblocks_examples/03_adapters/02_gemini_auto_detect.py
  src/hother/streamblocks_examples/03_adapters/03_openai_explicit_adapter.py
  src/hother/streamblocks_examples/03_adapters/04_anthropic_adapter.py
  src/hother/streamblocks_examples/03_adapters/05_mixed_event_stream.py
  src/hother/streamblocks_examples/03_adapters/06_text_delta_streaming.py
  src/hother/streamblocks_examples/03_adapters/07_block_opened_event.py
  src/hother/streamblocks_examples/03_adapters/08_configuration_flags.py
  src/hother/streamblocks_examples/03_adapters/09_custom_adapter.py
  src/hother/streamblocks_examples/03_adapters/10_callable_adapter.py
  src/hother/streamblocks_examples/03_adapters/11_attribute_adapter_generic.py
  src/hother/streamblocks_examples/03_adapters/12_disable_original_events.py
  src/hother/streamblocks_examples/03_adapters/13_manual_chunk_processing.py
  src/hother/streamblocks_examples/03_adapters/14_section_delta_events.py
  src/hother/streamblocks_examples/03_adapters/15_section_end_events.py
  src/hother/streamblocks_examples/05_logging/01_stdlib_logging.py
  src/hother/streamblocks_examples/05_logging/02_structlog.py
  src/hother/streamblocks_examples/05_logging/03_custom_logger.py
  src/hother/streamblocks_examples/06_integrations/01_pydantic_ai_integration.py
  src/hother/streamblocks_examples/07_providers/01_gemini_simple_demo.py
  src/hother/streamblocks_examples/run_examples.py
  tests/test_examples.py
Due: ruff-check, ruff-format, mypy

docs: serve documentation on uncommon port 7227 by default
  README.md
  mkdocs.yml
Due: check-yaml

docs: fail build on missing example files and fix injection config
  docs/.hooks/main.py
  docs/.hooks/snippets.py
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format, mypy, check-yaml, check-toml

build: add mkdocs-d2-plugin and install d2 in docs CI
  .github/workflows/docs.yaml
  .github/workflows/pull_request.yaml
  README.md
  docs/getting-started/installation.md
  docs/javascripts/mermaid.js
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml
