Repository hotherio/streamblocks: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, check-json, check-yaml, check-toml

lefthook.yml:

# Lefthook configuration for Python project
# Fast and powerful Git hooks manager

pre-commit:
  parallel: true
  commands:
    # Python linting and formatting with Ruff
    ruff-check:
      run: ruff check --fix --unsafe-fixes {staged_files}
      glob: "*.py"

    ruff-format:
      run: ruff format {staged_files}
      glob: "*.py"

    # Type checking
    mypy:
      run: mypy {staged_files}
      glob: "*.py"

    # Non-Python file checks
    trailing-whitespace:
      run: |
        for file in {staged_files}; do
          if [[ "$file" != *.py ]]; then
            sed -i.bak 's/[[:space:]]*$//' "$file" && rm -f "$file.bak"
          fi
        done
      glob: "*"
      exclude: "*.py|*.egg-info/*"

    end-of-file:
      run: |
        for file in {staged_files}; do
          if [[ "$file" != *.py ]] && [[ -f "$file" ]] && [[ -s "$file" ]]; then
            if [ -n "$(tail -c 1 "$file")" ]; then
              echo >> "$file"
            fi
          fi
        done
      glob: "*"
      exclude: "*.py|*.egg-info/*"

    # File format validation
    check-json:
      run: python -m json.tool {staged_files} > /dev/null
      glob: "*.json"

    check-yaml:
      run: |
        for file in {staged_files}; do
          python -c "import yaml; yaml.safe_load(open('$file'))"
        done
      glob: "*.{yml,yaml}"

    check-toml:
      run: |
        for file in {staged_files}; do
          python -c "import tomllib; tomllib.load(open('$file', 'rb'))"
        done
      glob: "*.toml"

    # Secret scanning with detect-secrets
    detect-secrets:
      run: |
        if [ ! -f .secrets.baseline ]; then
          echo "Creating initial secrets baseline..."
          detect-secrets scan > .secrets.baseline
        fi
        # Check staged files for secrets
        git diff --staged --name-only -z | xargs -0 detect-secrets-hook --baseline .secrets.baseline
      glob: "*"
      exclude: "*.lock|*.egg-info/*|.secrets.baseline"

pre-push:
  parallel: true
  commands:
    # Verify dependency lock
    uv-lock:
      run: uv lock --check

    # Check last commit message follows conventional commits
    conventional-commits:
      run: |
        commit_regex='^(feat|fix|docs|style|refactor|test|chore|build|ci|perf|revert)(\(.+\))?: .+'
        if ! git log -1 --pretty=%B | grep -qE "$commit_regex"; then
          echo "❌ Last commit doesn't follow conventional commits format"
          echo "Expected format: <type>(<scope>): <subject>"
          echo "Example: feat(auth): add login functionality"
          exit 1
        fi


commit-msg:
  commands:
    # Validate commit message format
    check-commit-msg:
      run: |
        commit_regex='^(feat|fix|docs|style|refactor|test|chore|build|ci|perf|revert)(\(.+\))?: .+'
        if ! grep -qE "$commit_regex" {1}; then
          echo "❌ Commit message must follow conventional commits format!"
          echo ""
          echo "Format: <type>: <subject>  OR  <type>(<scope>): <subject>"
          echo ""
          echo "Types:"
          echo "  feat:     New feature"
          echo "  fix:      Bug fix"
          echo "  docs:     Documentation changes"
          echo "  style:    Code style changes (formatting, etc)"
          echo "  refactor: Code refactoring"
          echo "  test:     Test changes"
          echo "  chore:    Maintenance tasks"
          echo "  build:    Build system changes"
          echo "  ci:       CI/CD changes"
          echo "  perf:     Performance improvements"
          echo "  revert:   Revert previous commit"
          echo ""
          echo "Examples:"
          echo "  feat: add user authentication"
          echo "  fix(auth): resolve login timeout issue"
          exit 1
        fi

# Skip hooks during rebase/merge
skip_output:
  - meta
  - execution

fix(ci): use pip build instead of uv in semantic-release
  pyproject.toml
Due: check-toml

fix(ci): remove GPG signing from semantic-release workflow
  .github/workflows/semantic-release.yml
Due: check-yaml

fix(ci): use CLI-based semantic-release with GPG signing
  .github/workflows/semantic-release.yml
  pyproject.toml
Due: check-yaml, check-toml

fix(ci): use hother-release-bot app token for ruleset bypass
  .github/workflows/semantic-release.yml
Due: check-yaml

0.1.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

feat(ci): add asset certification and final release marking
  .github/workflows/semantic-release.yml
Due: check-yaml

0.2.0
  pyproject.toml
Due: check-toml

fix(ci): reorder workflow steps to avoid PyPI upload conflict
  .github/workflows/semantic-release.yml
Due: check-yaml

0.2.1
  pyproject.toml
Due: check-toml

fix(ci): use conventional commit format for release commits
  pyproject.toml
Due: check-toml

chore(release): bump to 0.2.2
  pyproject.toml
Due: check-toml

chore(docs): initialize gh-pages branch
  index.html
Due: none

ci(docs): add pages write permission to workflow
  .github/workflows/docs.yaml
Due: check-yaml

chore: remove legacy release workflow and manual script
  .github/workflows/release.yml
  tools/release.py
Due: ruff-check, ruff-format, mypy, check-yaml

docs: trigger GitHub Pages deployment
  docs/index.md
Due: none

fix(ci): use GITHUB_TOKEN instead of GH_TOKEN in docs workflow
  .github/workflows/docs.yaml
Due: check-yaml

chore(release): bump to 0.2.3
  pyproject.toml
Due: check-toml

fix(docs): update watch path to point to moved examples directory
  mkdocs.yml
Due: check-yaml

chore(release): bump to 0.2.4
  pyproject.toml
Due: check-toml

Deployed d05bf47 to v0.2 with MkDocs 1.6.1 and mike 2.1.3
  docs
  versions.json
Due: check-json

fix(ci): restore proper Renovate configuration
  renovate.json
Due: check-json

chore(release): bump to 0.2.5
  pyproject.toml
Due: check-toml

Deployed 13af195 to v0.2 with MkDocs 1.6.1 and mike 2.1.3
  versions.json
Due: check-json

fix(ci): prevent release workflow self-triggering loop
  .github/workflows/semantic-release.yml
Due: check-yaml

chore(release): bump to 0.2.6
  pyproject.toml
Due: check-toml

Deployed e5bad15 to v0.2 with MkDocs 1.6.1 and mike 2.1.3
  versions.json
Due: check-json

feat(ci): use git-cliff for version-specific release notes
  .github/workflows/semantic-release.yml
  cliff.toml
Due: check-yaml, check-toml

chore(release): bump to 0.3.0
  pyproject.toml
Due: check-toml

Deployed 65e796e to v0.3 with MkDocs 1.6.1 and mike 2.1.3
  docs
  versions.json
Due: check-json

chore(docs): remove placeholder index.html
  index.html
Due: none

fix(docs): add mike set-default to generate root index redirect
  .github/workflows/docs.yaml
Due: check-yaml

chore(release): bump to 0.3.1
  pyproject.toml
Due: check-toml

Set default version to latest with mike 2.1.3
  index.html
Due: none

Deployed 2948077 to v0.3 with MkDocs 1.6.1 and mike 2.1.3
  versions.json
Due: check-json

fix(coverage): mark unreachable generic extraction branch
  src/hother/streamblocks/core/models.py
Due: ruff-check, ruff-format, mypy

chore(release): bump to 0.3.2
  pyproject.toml
Due: check-toml

Deployed b533957 to v0.3 with MkDocs 1.6.1 and mike 2.1.3
  versions.json
Due: check-json

refactor: revert to simple Pydantic-only type extraction
  API_CHANGES.md
  src/hother/streamblocks/core/constants.py
  src/hother/streamblocks/core/models.py
Due: ruff-check, ruff-format, mypy
