Repository hotherio/streamblocks: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, check-json, check-yaml, check-toml

ruff-check:
  run: ruff check --fix --unsafe-fixes {staged_files}

ruff-format:
  run: ruff format {staged_files}

mypy:
  run: mypy {staged_files}

check-json:
  run: python -m json.tool {staged_files} > /dev/null

check-yaml:
  run: "for file in {staged_files}; do\n  python -c \"import yaml; yaml.safe_load(open('$file'))\"\ndone\n"

check-toml:
  run: "for file in {staged_files}; do\n  python -c \"import tomllib; tomllib.load(open('$file', 'rb'))\"\ndone\n"

ci: fix validation failures (Python version and POSIX shell)
  .github/workflows/pull_request.yaml
  lefthook.yml
Due: check-yaml

ci: disable dependency review workflow
  .github/workflows/dependency-review.yml
Due: check-yaml

build: migrate to hatchling with hatch-vcs for dynamic versioning
  pyproject.toml
  src/hother/streamblocks/__init__.py
Due: ruff-check, ruff-format, mypy, check-toml

refactor: reduce complexity in parse_block and test functions
  .github/workflow-config.yml
  src/hother/streamblocks/syntaxes/markdown.py
  tests/test_minimal_api.py
Due: ruff-check, ruff-format, mypy, check-yaml

ci: fix validation jobs running on wrong code in pull_request_target
  .github/workflows/pull_request.yaml
Due: check-yaml

fix: move examples pyproject.toml to package location
  pyproject.toml
  src/hother/streamblocks_examples/pyproject.toml
  uv.lock
Due: check-toml

refactor: improve code quality and reduce duplication
  src/hother/streamblocks/core/_logger.py
  src/hother/streamblocks/core/block_state_machine.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/registry.py
  src/hother/streamblocks/core/utils.py
  src/hother/streamblocks/syntaxes/base.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
  tests/core/test_processor.py
Due: ruff-check, ruff-format, mypy

refactor: improve code quality and reduce duplication (#14)
  src/hother/streamblocks/core/_logger.py
  src/hother/streamblocks/core/block_state_machine.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/registry.py
  src/hother/streamblocks/core/utils.py
  src/hother/streamblocks/syntaxes/base.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
  tests/core/test_processor.py
Due: ruff-check, ruff-format, mypy

ci: improve PR workflow and add Codecov test results
  .github/workflows/pull_request.yaml
  .github/workflows/test.yaml
Due: check-yaml

ci: improve PR workflow and add Codecov test results (#15)
  .github/workflows/pull_request.yaml
  .github/workflows/test.yaml
Due: check-yaml

fix(ci): pin Python version in uv sync commands
  .github/actions/setup-python-uv/action.yml
Due: check-yaml

fix(ci): pin Python version in uv sync commands (#17)
  .github/actions/setup-python-uv/action.yml
Due: check-yaml

refactor: improve type safety and reduce complexity in block state machine
  renovate.json
  src/hother/streamblocks/core/block_state_machine.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/types.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
  tests/test_models.py
Due: ruff-check, ruff-format, mypy, check-json

fix: restore renovate.json to correct configuration
  renovate.json
Due: check-json

refactor: improve BlockCandidate encapsulation with transition methods
  src/hother/streamblocks/core/block_state_machine.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
  tests/syntaxes/test_delimiter.py
  tests/syntaxes/test_markdown.py
Due: ruff-check, ruff-format, mypy

refactor: consolidate metadata defaults logic into base class
  src/hother/streamblocks/syntaxes/base.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
Due: ruff-check, ruff-format, mypy

refactor: extract constants module for better organization
  src/hother/streamblocks/core/constants.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/processor.py
Due: ruff-check, ruff-format, mypy

docs: complete Phase 3 documentation excellence (A+ plan)
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/types.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
Due: ruff-check, ruff-format, mypy

ci: remove Python 3.14 from test matrix
  .github/workflows/pull_request.yaml
Due: check-yaml

refactor: elevate code quality (#16)
  .github/workflows/pull_request.yaml
  src/hother/streamblocks/core/block_state_machine.py
  src/hother/streamblocks/core/constants.py
  src/hother/streamblocks/core/models.py
  src/hother/streamblocks/core/processor.py
  src/hother/streamblocks/core/types.py
  src/hother/streamblocks/syntaxes/base.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
  tests/syntaxes/test_delimiter.py
  tests/syntaxes/test_markdown.py
  tests/test_models.py
Due: ruff-check, ruff-format, mypy, check-yaml

feat: add Python 3.14 support with pydantic 2.12.5
  .github/workflows/pull_request.yaml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml

feat: add Python 3.14 support with pydantic 2.12.5 (#18)
  .github/workflows/pull_request.yaml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml

feat: upgrade basedpyright to 1.36.2 for Python 3.14 support
  pyproject.toml
  uv.lock
Due: check-toml

feat: upgrade basedpyright to 1.36.2 for Python 3.14 support (#19)
  pyproject.toml
  uv.lock
Due: check-toml

refactor(examples): use model_dump_json for pretty block printing in Phase 1
  src/hother/streamblocks_examples/00_quickstart/01_hello_world.py
  src/hother/streamblocks_examples/00_quickstart/02_basic_stream.py
  src/hother/streamblocks_examples/00_quickstart/03_custom_block.py
  src/hother/streamblocks_examples/01_basics/01_basic_usage.py
  src/hother/streamblocks_examples/01_basics/02_minimal_api.py
  src/hother/streamblocks_examples/01_basics/03_error_handling.py
  src/hother/streamblocks_examples/01_basics/04_structured_output.py
  src/hother/streamblocks_examples/01_basics/05_metadata_validators.py
  src/hother/streamblocks_examples/01_basics/06_validator_composition.py
Due: ruff-check, ruff-format, mypy

refactor(examples): use model_dump_json for pretty block printing in Phase 2
  src/hother/streamblocks_examples/02_syntaxes/01_markdown_frontmatter.py
  src/hother/streamblocks_examples/02_syntaxes/02_delimiter_frontmatter.py
  src/hother/streamblocks_examples/02_syntaxes/03_parsing_decorators.py
  src/hother/streamblocks_examples/02_syntaxes/04_custom_syntax.py
Due: ruff-check, ruff-format, mypy

refactor(examples): use model_dump_json for pretty block printing in Phase 3
  src/hother/streamblocks_examples/03_adapters/01_identity_adapter_plain_text.py
  src/hother/streamblocks_examples/03_adapters/02_gemini_auto_detect.py
  src/hother/streamblocks_examples/03_adapters/03_openai_explicit_adapter.py
  src/hother/streamblocks_examples/03_adapters/04_anthropic_adapter.py
  src/hother/streamblocks_examples/03_adapters/05_mixed_event_stream.py
  src/hother/streamblocks_examples/03_adapters/06_text_delta_streaming.py
  src/hother/streamblocks_examples/03_adapters/07_block_opened_event.py
  src/hother/streamblocks_examples/03_adapters/09_custom_adapter.py
  src/hother/streamblocks_examples/03_adapters/10_callable_adapter.py
  src/hother/streamblocks_examples/03_adapters/11_attribute_adapter_generic.py
  src/hother/streamblocks_examples/03_adapters/13_manual_chunk_processing.py
  src/hother/streamblocks_examples/03_adapters/15_section_end_events.py
Due: ruff-check, ruff-format, mypy

refactor(examples): standardize block printing in Phase 4 files
  src/hother/streamblocks/syntaxes/base.py
  src/hother/streamblocks/syntaxes/delimiter.py
  src/hother/streamblocks/syntaxes/markdown.py
  src/hother/streamblocks_examples/01_basics/03_error_handling.py
  src/hother/streamblocks_examples/01_basics/04_structured_output.py
  src/hother/streamblocks_examples/02_syntaxes/01_markdown_frontmatter.py
  src/hother/streamblocks_examples/02_syntaxes/02_delimiter_frontmatter.py
  src/hother/streamblocks_examples/02_syntaxes/03_parsing_decorators.py
  src/hother/streamblocks_examples/03_adapters/01_identity_adapter_plain_text.py
  src/hother/streamblocks_examples/04_blocks/02_patch_block.py
  src/hother/streamblocks_examples/04_blocks/03_toolcall_block.py
  src/hother/streamblocks_examples/04_blocks/04_memory_block.py
  src/hother/streamblocks_examples/04_blocks/05_visualization_block.py
  src/hother/streamblocks_examples/05_logging/01_stdlib_logging.py
  src/hother/streamblocks_examples/05_logging/02_structlog.py
  src/hother/streamblocks_examples/05_logging/03_custom_logger.py
  src/hother/streamblocks_examples/06_integrations/01_pydantic_ai_integration.py
  src/hother/streamblocks_examples/06_integrations/02_agui_integration.py
  src/hother/streamblocks_examples/07_providers/01_gemini_simple_demo.py
  src/hother/streamblocks_examples/07_providers/02_gemini_architect.py
  src/hother/streamblocks_examples/08_ui/01_interactive_blocks.py
  src/hother/streamblocks_examples/09_advanced/02_block_serialization.py
  tests/syntaxes/test_delimiter.py
  tests/syntaxes/test_markdown.py
  tests/test_minimal_api.py
Due: ruff-check, ruff-format, mypy

chore(release): prepare for v0.0.1
  .github/workflows/bump.yml
  .github/workflows/semantic-release.yml
  Makefile
  pyproject.toml
  src/hother/streamblocks_examples/03_adapters/02_gemini_auto_detect.py
  src/hother/streamblocks_examples/03_adapters/04_anthropic_adapter.py
  src/hother/streamblocks_examples/09_advanced/01_performance_tuning.py
  src/hother/streamblocks_examples/09_advanced/02_block_serialization.py
  tools/release.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-yaml, check-toml

fix(ci): correct python-semantic-release action SHAs
  .github/workflows/semantic-release.yml
Due: check-yaml

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  mypy: any of: *.py
  check-json: any of: *.json
  check-yaml: any of: *.{yml,yaml}
  check-toml: any of: *.toml
