Repository hotherio/streamblocks: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, check-json, check-yaml, check-toml

ruff-check:
  run: ruff check --fix --unsafe-fixes {staged_files}

ruff-format:
  run: ruff format {staged_files}

mypy:
  run: mypy {staged_files}

check-json:
  run: python -m json.tool {staged_files} > /dev/null

check-yaml:
  run: "for file in {staged_files}; do\n  python -c \"import yaml; yaml.safe_load(open('$file'))\"\ndone\n"

check-toml:
  run: "for file in {staged_files}; do\n  python -c \"import tomllib; tomllib.load(open('$file', 'rb'))\"\ndone\n"

feat(core): implement core types and protocols (TRACK 0)
  src/streamblocks/__init__.py
  src/streamblocks/core/__init__.py
  src/streamblocks/core/models.py
  src/streamblocks/core/types.py
  src/streamblocks/py.typed
Due: ruff-check, ruff-format, mypy

test(core): add comprehensive unit tests (TRACK 0)
  pyproject.toml
  tests/__init__.py
  tests/unit/__init__.py
  tests/unit/test_protocol.py
  tests/unit/test_types.py
Due: ruff-check, ruff-format, mypy, check-toml

fix: update lefthook config and add type annotations (TRACK 0)
  lefthook.yml
  tools/release.py
Due: ruff-check, ruff-format, mypy, check-yaml

docs: update README for streamblocks project (TRACK 0)
  README.md
Due: none

refactor: remove template hother files (TRACK 0)
  src/hother/__init__.py
  src/hother/py.typed
Due: ruff-check, ruff-format, mypy

style: fix quote style in test_protocol.py (TRACK 0)
  tests/unit/test_protocol.py
Due: ruff-check, ruff-format, mypy

style: apply linter formatting (TRACK 0)
  src/streamblocks/core/types.py
  tests/unit/test_protocol.py
Due: ruff-check, ruff-format, mypy

feat: implement BlockRegistry for managing syntax parsers
  src/streamblocks/core/registry.py
Due: ruff-check, ruff-format, mypy

build: configure pytest for better test discovery
  .pytest.ini
Due: none

feat: implement BlockCandidate and Block models
  src/streamblocks/core/models.py
Due: ruff-check, ruff-format, mypy

feat: export new core components from __init__
  src/streamblocks/core/__init__.py
Due: ruff-check, ruff-format, mypy

feat: add content models for file operations and patches
  src/streamblocks/content/__init__.py
  src/streamblocks/content/base.py
  src/streamblocks/content/files.py
  src/streamblocks/content/patch.py
Due: ruff-check, ruff-format, mypy

test: add integration tests for models with real syntaxes
  tests/integration/test_models_integration.py
Due: ruff-check, ruff-format, mypy

test: add unit tests for models, registry, and content
  tests/unit/test_content.py
  tests/unit/test_models.py
  tests/unit/test_registry.py
Due: ruff-check, ruff-format, mypy

docs: add streamblocks prototype and workflow documentation
  STREAMBLOCK_PROTOTYPE.md
  workflow/FUTURE_IMPROVEMENTS.md
  workflow/PLAN.md
  workflow/PRD.md
  workflow/TRACK_0.md
  workflow/TRACK_1.md
  workflow/TRACK_10.md
  workflow/TRACK_2.md
  workflow/TRACK_3.md
  workflow/TRACK_4.md
  workflow/TRACK_5.md
  workflow/TRACK_6.md
  workflow/TRACK_7.md
  workflow/TRACK_8.md
  workflow/TRACK_9.md
  workflow/USER_REQUEST.md
Due: none

test: add validate_block method to protocol tests
  tests/unit/test_protocol.py
Due: ruff-check, ruff-format, mypy

chore: add sandbox example implementation
  sandbox/blocks_markdown.py
Due: ruff-check, ruff-format, mypy

chore: update uv.lock with project dependencies
  uv.lock
Due: none

fix: resolve linting issues in FileOperationsContent
  src/streamblocks/content/files.py
Due: ruff-check, ruff-format, mypy

feat: implement Track 3 - Built-in Syntaxes
  lefthook.yml
  pyproject.toml
  src/streamblocks/content/files.py
  src/streamblocks/core/models.py
  src/streamblocks/core/registry.py
  src/streamblocks/core/types.py
  src/streamblocks/syntaxes/__init__.py
  src/streamblocks/syntaxes/abc.py
  src/streamblocks/syntaxes/base.py
  src/streamblocks/syntaxes/builtin/__init__.py
  src/streamblocks/syntaxes/builtin/delimiter.py
  src/streamblocks/syntaxes/builtin/markdown.py
  src/streamblocks/syntaxes/builtin/yaml_frontmatter.py
  src/streamblocks/syntaxes/mock.py
  src/streamblocks/syntaxes/utils.py
  tests/integration/test_models_integration.py
  tests/unit/syntaxes/test_builtin_syntaxes.py
  tests/unit/test_content.py
  tests/unit/test_models.py
  tests/unit/test_protocol.py
  tests/unit/test_registry.py
  tests/unit/test_types.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-yaml, check-toml

refactor: use StrEnum for action codes in FileOperationsContent
  CHANGELOG.md
  src/streamblocks/content/files.py
Due: ruff-check, ruff-format, mypy

refactor: make built-in syntaxes generic with user-provided models
  pyproject.toml
  src/streamblocks/syntaxes/__init__.py
  src/streamblocks/syntaxes/builtin/__init__.py
  src/streamblocks/syntaxes/builtin/delimiter.py
  src/streamblocks/syntaxes/builtin/markdown.py
  src/streamblocks/syntaxes/builtin/yaml_frontmatter.py
  tests/unit/syntaxes/test_builtin_syntaxes.py
  tests/unit/syntaxes/test_generic_syntaxes.py
Due: ruff-check, ruff-format, mypy, check-toml

feat: implement stream processing engine (Track 4)
  CLAUDE.md
  pyproject.toml
  sandbox/blocks_markdown.py
  src/streamblocks/content/files.py
  src/streamblocks/core/processor.py
  src/streamblocks/core/registry.py
  src/streamblocks/syntaxes/abc.py
  src/streamblocks/syntaxes/builtin/delimiter.py
  src/streamblocks/syntaxes/builtin/markdown.py
  src/streamblocks/syntaxes/builtin/yaml_frontmatter.py
  src/streamblocks/syntaxes/utils.py
  tests/integration/test_models_integration.py
  tests/unit/syntaxes/test_builtin_syntaxes.py
  tests/unit/test_content.py
  tests/unit/test_models.py
  tests/unit/test_protocol.py
  tests/unit/test_types.py
Due: ruff-check, ruff-format, mypy, check-toml

feat(core): add BaseMetadata and BaseContent base classes
  src/streamblocks/core/models.py
Due: ruff-check, ruff-format, mypy

refactor(types): update type definitions and exports
  src/streamblocks/__init__.py
  src/streamblocks/core/__init__.py
  src/streamblocks/core/types.py
Due: ruff-check, ruff-format, mypy

refactor(content): update content models to inherit from BaseContent
  src/streamblocks/content/__init__.py
  src/streamblocks/content/base.py
  src/streamblocks/content/files.py
  src/streamblocks/content/patch.py
Due: ruff-check, ruff-format, mypy

feat(syntaxes): add simplified syntax implementations with optional models
  src/streamblocks/syntaxes/__init__.py
  src/streamblocks/syntaxes/delimiter.py
  src/streamblocks/syntaxes/markdown.py
Due: ruff-check, ruff-format, mypy

test: add tests for base classes and minimal API
  tests/__init__.py
  tests/test_basic_integration.py
  tests/test_minimal_api.py
Due: ruff-check, ruff-format, mypy

docs(examples): add examples demonstrating simplified API
  examples/basic_usage.py
  examples/delimiter_frontmatter_example.py
  examples/markdown_frontmatter_example.py
  examples/minimal_api_example.py
  examples/mixed_syntaxes_example.py
  examples/patch_content_example.py
Due: ruff-check, ruff-format, mypy

refactor(syntaxes): remove old syntax implementations
  src/streamblocks/syntaxes/abc.py
  src/streamblocks/syntaxes/base.py
  src/streamblocks/syntaxes/builtin/__init__.py
  src/streamblocks/syntaxes/builtin/delimiter.py
  src/streamblocks/syntaxes/builtin/markdown.py
  src/streamblocks/syntaxes/builtin/yaml_frontmatter.py
  src/streamblocks/syntaxes/mock.py
  src/streamblocks/syntaxes/utils.py
Due: ruff-check, ruff-format, mypy

refactor(core): add protocols module for type safety
  src/streamblocks/core/protocols.py
Due: ruff-check, ruff-format, mypy

test: remove old test files
  tests/.gitkeep
  tests/integration/test_models_integration.py
  tests/unit/__init__.py
  tests/unit/syntaxes/test_builtin_syntaxes.py
  tests/unit/syntaxes/test_generic_syntaxes.py
  tests/unit/test_content.py
  tests/unit/test_models.py
  tests/unit/test_protocol.py
  tests/unit/test_registry.py
  tests/unit/test_types.py
Due: ruff-check, ruff-format, mypy

chore: remove old workflow tracking files
  workflow/PLAN.md
  workflow/TASKS.md
  workflow/TRACK_0.md
  workflow/TRACK_1.md
  workflow/TRACK_10.md
  workflow/TRACK_2.md
  workflow/TRACK_3.md
  workflow/TRACK_4.md
  workflow/TRACK_5.md
  workflow/TRACK_6.md
  workflow/TRACK_7.md
  workflow/TRACK_8.md
  workflow/TRACK_9.md
Due: none

chore: remove py.typed marker file
  src/streamblocks/py.typed
Due: none

refactor(core): simplify processor and registry implementations
  src/streamblocks/core/processor.py
  src/streamblocks/core/registry.py
Due: ruff-check, ruff-format, mypy

docs: update README for simplified API
  README.md
Due: none

feat(content): add FileContentMetadata and FileContentContent classes
  src/streamblocks/content/__init__.py
  src/streamblocks/content/files.py
Due: ruff-check, ruff-format, mypy

docs: update CLAUDE.md with project notes
  CLAUDE.md
Due: none

fix(syntax): update delimiter patterns to allow indented markers
  src/streamblocks/syntaxes/delimiter.py
Due: ruff-check, ruff-format, mypy

feat(content): add MessageMetadata and MessageContent for AI communication
  src/streamblocks/content/message.py
Due: ruff-check, ruff-format, mypy

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  mypy: any of: *.py
  check-json: any of: *.json
  check-yaml: any of: *.{yml,yaml}
  check-toml: any of: *.toml
